<!-- templates/form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/site.css">
    <title>Optic Blu</title>
</head>
<body>
<div class="outer">
{% include 'navbar.html' %}
<div class="container">
    <div class="sidebar">
        <h2>Welcome</h2>
    </div>
    <main class="main-content">
        <h1>Welcome to Optic Blu</h1>
        <p>Select an application from above.
        </p>
    </main>
</div>
</div>
</body>
</html>

