<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop-down Menu</title>
    <link rel="stylesheet" href="static/test_navbar.css">
</head>
<body>

<div class="navbar">
    <div class="menu">
        <a href="#">Menu 1</a>
        <div class="dropdown">
            <a href="#">Submenu 1</a>
            <a href="#">Submenu 2</a>
            <a href="#">Submenu 3</a>
        </div>
    </div>
    <div class="menu">
        <a href="#">Menu 2</a>
        <div class="dropdown">
            <a href="#">Submenu A</a>
            <a href="#">Submenu B</a>
            <a href="#">Submenu C</a>
        </div>
    </div>
    <div class="menu">
        <a href="#">Menu 3</a>
        <div class="dropdown">
            <a href="#">Submenu X</a>
            <a href="#">Submenu Y</a>
            <a href="#">Submenu Z</a>
        </div>
    </div>
</div>

</body>
</html>
